<base href="/">
<shared-header></shared-header>
<div class='container'>
    <nav>
        <a routerLink="/Associado" routerLinkActtive="active">Associados</a>&nbsp;&nbsp;
        <a routerLink="/Colaborador" routerLinkActtive="active">Colaboradores</a>&nbsp;&nbsp;
        <a routerLink="/Evento" routerLinkActtive="active">Eventos</a>&nbsp;&nbsp;
        <a routerLink="/RecebimentoAnuidade" routerLinkActtive="active">Recebimento de Anuidades</a>&nbsp;&nbsp;
        <a routerLink="/RecebimentoEvento" routerLinkActtive="active">Recebimento de Eventos</a>&nbsp;&nbsp;
        <a routerLink="/AtaAnuidade" routerLinkActtive="active">Ata para Anuidade</a>&nbsp;&nbsp;
        <a routerLink="/AtaEvento" routerLinkActtive="active">Ata para Eventos</a>&nbsp;&nbsp;
    </nav>
    <router-outlet></router-outlet>
    <!-- Routed views go here -->
</div>

