<shared-header></shared-header>
<div>
  <div class='container'>
      <nav>
          <a routerLink="/Associado" routerLinkActtive="active">Associados</a>
          <a routerLink="/Colaborador" routerLinkActtive="active">Colaboradores</a>
          <a routerLink="/Evento" routerLinkActtive="active">Eventos</a>
          <a routerLink="/RecebimentoAnuidade" routerLinkActtive="active">Recebimento de Anuidades</a>
          <a routerLink="/RecebimentoEvento" routerLinkActtive="active">Recebimento de Eventos</a>
          <a routerLink="/AtaAnuidade" routerLinkActtive="active">Ata para Anuidade</a>
          <a routerLink="/AtaEvento" routerLinkActtive="active">Ata para Eventos</a>
      </nav>
  </div>
  <router-outlet></router-outlet>
  <!--<app-messages></app-messages>-->
</div>