/BusinessLayer/bin/Release
/BusinessLayer/bin/Debug
/BusinessLayer/obj
/BusinessLayer/bin
/DataBindingLayer/obj
/DataBindingLayer/bin
/EntityLayer/obj
/EntityLayer/bin
/fbtc-web/node_modules
/fbtc-adm/.vscode
/Code/BusinessLayer/bin
/Code/BusinessLayer/BusinessLayer.csproj
/Code/BusinessLayer/obj
/Code/DataBindingLayer/bin
/Code/DataBindingLayer/obj
/Code/BusinessLayer/bin/Debug/BusinessLayer.dll
/Code/BusinessLayer/bin/Debug/BusinessLayer.pdb
/Code/BusinessLayer/bin/Debug/DataBindingLayer.dll
/Code/BusinessLayer/bin/Debug/DataBindingLayer.pdb
/Code/BusinessLayer/bin/Debug/EntityLayer.dll
/Code/BusinessLayer/bin/Debug/EntityLayer.pdb
/Code/BusinessLayer/obj/Debug/BusinessLayer.csproj.CopyComplete
/Code/BusinessLayer/obj/Debug/BusinessLayer.csproj.CoreCompileInputs.cache
/Code/BusinessLayer/obj/Debug/BusinessLayer.csproj.FileListAbsolute.txt
/Code/BusinessLayer/obj/Debug/BusinessLayer.csprojResolveAssemblyReference.cache
/Code/BusinessLayer/obj/Debug/BusinessLayer.dll
/Code/BusinessLayer/obj/Debug/BusinessLayer.pdb
/Code/BusinessLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Code/BusinessLayer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Code/BusinessLayer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Code/BusinessLayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/fbtc-adm/src/app/app.settings.ts
*.json
documentos/Sistema XXXX - Documento de Visão_v1.docx
documentos/Modelo_de_dados/20180605/FBTC - v2/rel/5F67C389-3835F40F1852/table/seg_0/19EE4E0F-D0AF-3125-8359-DF610FE0506B.xml
documentos/Modelo_de_dados/20180605/FBTC - v2/rel/5F67C389-3835F40F1852/table/seg_0/19EE4E0F-D0AF-3125-8359-DF610FE0506B.xml
documentos/Modelo_de_dados/20180808/FBTC-Modelo_de_Dados-20180915.html
documentos/Modelo_de_dados/Modelo 20180808 - v2.zip
*.xml
documentos/Modelo_de_dados/Modelo 20180808.zip
