<div id="base">
  <div id="Central">
      <div id="HeaderCentral">
      <h3>{{ title }}</h3>
      </div>
      <div id="BodyCentral">
          <div id="LineBodyCentral">
              <div id="L1C1">
                  Nome:<br>
                  <input [(ngModel)]="colaborador.nome" size="70px" maxlength="100" required/>
              </div>
              <div id="L1C2">
                  Perfil:<br>
                  <select required
                    [(ngModel)]="colaborador.tipoPerfil" name="Perfil" #sexo="ngModel">
                    <option *ngFor="let op of optTipoPerfil" value="{{ op.value }}">{{ op.name }}</option>
                </select>
              </div>
          </div>
          <div id="LineBodyCentral">
              <div id="L2C1">
                  E-Mail:<br>
                  <input [(ngModel)]="colaborador.eMail" size="70px" maxlength="100" type="email" required/>
              </div>
              <div id="L2C2">
                Celular:<br>
                <input [(ngModel)]="colaborador.nrCelular" size="15px" maxlength="15" required/>
            </div>
          </div>
          <div id="LineBodyCentral">
             <div id="L3C1">
              Ativo:<br>
              <select required
              [(ngModel)]="colaborador.ativo" name="Ativo">
              <option *ngFor="let op of optBoolean" value="{{ op.value }}">{{ op.name }}</option>
              </select>
            </div>
            <div id="L3C2">
              <button (click)="reenviarSenha()">Reenviar Senha</button>
            </div>
          </div>
      </div>
      <div id="FooterCentral">
          <div id="FT1C1">
             <button (click)="gotoColaboradores()">Retornar</button>
             <button (click)="save()">Salvar</button>
             <button (click)="excluir()">Excluir</button>
          </div>
      </div>
  </div>

</div>