<h1 class="page-header">{{ title }}</h1>
<div class="row">
    <div class="col-lg-12">
    <form (ngSubmit)="onSubmit()" #atcForm="ngForm">
            <div class="panel panel-default">
            <div class="panel-heading">
                Filtro
            </div>
            <div class="panel-body">
                <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="sltUF">UF:</label>
                                <select id="sltUF" name="UF" class="form-control"
                                    [(ngModel)]="editSiglaUF" #uf="ngModel">
                                    <option *ngFor="let op of unidadesFederacao" value="{{ op.siglaUF }}">{{ op.siglaUF }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                        </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-12 text-right">
                            <button type="button" class="btn btn-default" (click)="gotoLimparFiltros()">Limpar Filtros</button>
                            <button type="submit" class="btn btn-primary">Pesquisar</button>
                            <button type="button" class="btn btn-default" (click)="gotoNovaAtc()">Nova</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="panel panel-primary">
            <div class="panel-heading">Listagem de ATCs{{ _msgProgresso }}</div>
            <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td>Nome</td>
                                    <td>UF</td>
                                    <td>Presidente</td>
                                    <!--<td>Ações</td>-->
                                </tr>
                            </thead>
                            <tbody class="Atcs">
                                <tr (click)="onSelect(atc)" *ngFor="let atc of atcs | paginate: { itemsPerPage: _itensPerPage, currentPage: p }"
                                    [class.selected]="atc.atcId === selectedId">
                                    <td>{{ atc.nome }}</td>
                                    <td>{{ atc.uf }}</td>
                                    <td>{{ atc.nomePres }}</td>
                                    <!--<td>
                                        <a [routerLink]="['/admin/Atc', atc.atcId]"><i class="fa fa-pencil text-primary"></i></a>&nbsp;-->
                                        <!--<i class="fa fa-trash text-danger"></i>-->
                                    <!--</td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
            <div class="panel-footer text-center">
                <div class="btn-group">
                        <pagination-controls    (pageChange)="p = $event"
                                                maxSize="9"
                                                directionLinks="true"
                                                previousLabel="Anterior"
                                                nextLabel="Próxima"
                        ></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>