<div id="base">
  <div id="Central">
      <div id="HeaderCentral">
          <h3>{{ title }}</h3>
      </div>
      <div id="BodyCentral">
      <form (ngSubmit)="onSubmit()" #recebimentoForm="ngForm">
          <div id="LineBodyCentral">
              <div id="L1C1">
                <label for="inpNome">Nome:</label><br>
                    <input id="inpNome" name="nome" class="form-control" type="text"
                        minlength="2"  maxlength="100"
                        [(ngModel)]="editNome"  #nome="ngModel"/>
                    <div *ngIf="nome.invalid && (nome.dirty || nome.touched)"
                        class="alert alert-danger">
                        <div *ngIf="nome.errors.minlength"> * O Nome deve ter pelo menos 2 letras.</div>
                    </div> 
              </div>
              <div id="L1C2">
                <label for="inpCpf">Cpf:</label><br>
                    <input id="inpCpf" name="cpf" class="form-control" type="text"
                        maxlength="15" size="15px" 
                        [(ngModel)]="editCpf"  #cpf="ngModel"/>
              </div>
              <div id="L1C3">
                <label for="inpCrp">Crp:</label><br>
                <input id="inpCrp" name="crp" class="form-control" type="text"
                    maxlength="15" size="15px" 
                    [(ngModel)]="editCrp"  #crp="ngModel"/>
            </div>
              <div id="L1C4">
                <label for="inpCrm">Crm:</label><br>
                <input id="inpCrm" name="crm" class="form-control" type="text"
                    maxlength="15" size="15px" 
                    [(ngModel)]="editCrm"  #crm="ngModel"/>
            </div>
        </div>
        <div id="LineBodyCentral">
            <div id="L2C1">
                <label for="sltTipoEvento">Evento:</label><br>
                <select id="sltTipoEvento" name="tipoEvento"
                    [(ngModel)]="editTipoEvento" #tipoEvento="ngModel">
                    <option *ngFor="let op of _util.optTiposEventos" value="{{ op.value }}">{{ op.name }}</option>
                </select>
            </div> 
            <div id="L2C2">
                    <label for="sltAno">Ano:</label><br>
                    <select id="sltAno" name="ano" 
                        [(ngModel)]="editAno" #ano="ngModel">
                        <option *ngFor="let ano of _util.lstAno" [value]="ano">{{ ano }}</option>
                    </select>
            </div>                        
            <div id="L2C3">
                    <label for="sltTipoPublico">Tipo Publico:</label><br>
                    <select id="sltTipoPublico" name="tipoPublico" 
                        [(ngModel)]="editTipoPublico" #tipoPublico="ngModel">
                        <option *ngFor="let op of tiposPublicos" value="{{ op.tipoPublicoId }}">{{ op.nome }}</option>
                    </select>
                </div> 
            <div id="L2C4">
                <label for="sltStatusPagamento">StatusPagamento:</label><br>
                    <select id="sltStatusPagamento" name="statusPagamento"
                    [(ngModel)]="editStatusPagamento" #statusPagamento="ngModel">
                    <option *ngFor="let op of _util.optStatusAdimplencia" [value]="op.value">{{ op.name }}</option>
               </select>
              </div>     
        </div>
        <div id="LineBodyCentral">
              <div id="L4C1">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                    <button (click)="gotoImprimirLista()">Imprimir Lista</button>
               </div>
            </div>
            <div id="LineBodyCentral">
      
              <div id="L5C1">
                  <fieldset> 
                      <legend>Listagem de Usuários</legend>
                      <div id="Lst">
                      <div id="LstHeader">
                          <div id="LstCol1">Usuário</div>
                          <div id="LstCol2">CPF</div>
                          <div id="LstCol3">Objetivo</div>
                          <div id="LstCol4">Vencimento</div>
                          <div id="LstCol5">Pagamento</div>
                          <div id="LstCol6">Status</div>
                      </div>
                      <div id="LstCenter">       
                  <ul class="associados">
                      <li *ngFor="let recebimento of recebimentos"
                      [class.selected]="recebimento.recebimentoId === selectedId">
                      <a [routerLink]="['/RecebimentoEvento', recebimento.recebimentoId]">
                          <div id="LstCol1c">{{ recebimento.associado.nome }}</div>
                          <div id="LstCol2c">{{ recebimento.associado.cpf }}</div>
                          <div id="LstCol3c">{{ recebimento.objetivoPagamento | objetivoPagamento }}</div>
                          <div id="LstCol4c">{{ recebimento.dtVencimento | date:'dd/MM/yyyy' }}</div>
                          <div id="LstCol5c">{{ recebimento.dtPagamento | date:'dd/MM/yyyy' }}</div>
                          <div id="LstCol6c">{{ recebimento.statusPagamento |  statusPagamento }}</div>
                      </a>
                  </li>
                  </ul>
                      </div>
                      <div id="LstFooter">&nbsp;
                              <button (click)="gotoPrimeiraPagina()">|<<</button>
                              <button (click)="gotoPaginaAnterio()"><<</button>
                              <button (click)="gotoProximaPagina()">>></button>
                              <button (click)="gotoUltimaPagina()">>>|</button>
                          </div>
                  </div>
                  </fieldset>
              </div>
          </div>
      </form>
      </div>            
  </div>
</div>