<div id="base">
  <div id="Central">
      <div id="HeaderCentral">
          <h3>{{ title }}</h3>
      </div>
      <div id="BodyCentral">
          <div id="LineBodyCentral">
              <div id="L1C1">
                  Nome:<br>
                  <input [(ngModel)]="editNome" size="60px" maxlength="100" />
              </div>
              <div id="L1C2">
                  CPF:<br>
                  <input [(ngModel)]="editCPF" size="15px" maxlength="15"/>
              </div>
              <div id="L1C3">
                CRP:<br>
                <input [(ngModel)]="editCRP" size="15px" maxlength="15"/>
            </div>
              <div id="L1C4">
                CRM:<br>
                <input [(ngModel)]="editCRP" size="15px" maxlength="15"/>
            </div>
        </div>
        <div id="LineBodyCentral">
            <div id="L2C1">
                Evento:<br>
                <select required
                [(ngModel)]="editEvento" name="Evento" #evento="ngModel">
                <option *ngFor="let evento of lstEventos" [value]="evento">{{ evento }}</option>
            </select>
          </div> 
          <div id="L2C2">
            Tipo de Público:<br>
            <select required
            [(ngModel)]="editTipoPublico" name="TipoPublico" #tipoPublico="ngModel">
            <option *ngFor="let tipoPublico of lstTipoPublico" [value]="tipoPublico">{{ tipoPublico }}</option>
        </select>
          </div>                        
          <div id="L2C3">
                Status:<br>
                <select required
                [(ngModel)]="editStatus" name="Status" #status="ngModel">
                <option *ngFor="let status of lstStatus" [value]="status">{{ status }}</option>
            </select>
              </div>                        
        </div>
        <div id="LineBodyCentral">
              <div id="L4C1">
                      <button (click)="gotoBuscarAssociado()">Pesquisar</button>
                      <button (click)="gotoImprimirLista()">Imprimir Lista</button>
               </div>
            </div>
            <div id="LineBodyCentral">
      
              <div id="L5C1">
                  <fieldset> 
                      <legend>Listagem de Associados</legend>
                      <div id="Lst">
                      <div id="LstHeader">
                          <div id="LstCol1">Nome</div><div id="LstCol2">Evento</div><div id="LstCol3">Tipo de Público</div><div id="LstCol4">Vencimento</div><div id="LstCol5">Pagamento</div>
                      </div>
                      <div id="LstCenter">       
                  <ul class="associados">
                      <li *ngFor="let associado of associado$ | async"
                          [class.selected]="associado.AssociadoId === selectedId">
                          <a [routerLink]="['/RecebimentoEvento', associado.AssociadoId]">
                              <div id="LstCol1c"><span class="badge">{{ associado.AssociadoId}}</span>{{ associado.Nome}}</div>
                              <div id="LstCol2c">{{ editEvento }}</div>
                              <div id="LstCol3c">{{ editTipoPublico }}</div>
                              <div id="LstCol4c">{{ editDtVencimento | date:'dd/MM/yyyy' }}</div>
                              <div id="LstCol5c">{{ editDtPagto | date:'dd/MM/yyyy' }}</div>
                          </a>
                      </li>
                  </ul>
                      </div>
                      <div id="LstFooter">&nbsp;
                              <button (click)="gotoPrimeiraPagina()">|<<</button>
                              <button (click)="gotoPaginaAnterio()"><<</button>
                              <button (click)="gotoProximaPagina()">>></button>
                              <button (click)="gotoUltimaPagina()">>>|</button>
                          </div>
                  </div>
                  </fieldset>
              </div>
          </div>
      </div>            
  </div>
</div>