<div id="base">
  <div id="Central">
      <div id="HeaderCentral">
          <h3>{{ title }}</h3>
      </div>
      <div id="BodyCentral">
          <div id="LineBodyCentral">
              <div id="L1C1">
                  Nome:<br>
                  <input [(ngModel)]="editNome" size="60px" maxlength="100" />
              </div>
              <div id="L1C2">
                  CPF:<br>
                  <input [(ngModel)]="editCPF" size="15px" maxlength="15"/>
              </div>
              <div id="L1C3">
                CRP:<br>
                <input [(ngModel)]="editCRP" size="15px" maxlength="15"/>
            </div>
              <div id="L1C4">
                CRM:<br>
                <input [(ngModel)]="editCRP" size="15px" maxlength="15"/>
            </div>
        </div>
        <div id="LineBodyCentral">
            <div id="L2C1">
                Evento:<br>
                <select id="sltTipoEvento" 
                    [(ngModel)]="editTipoEvento" name="TipoEvento">
                    <option *ngFor="let op of _util.optTiposEventos" value="{{ op.value }}">{{ op.name }}</option>
                </select>

            </div> 
          <div id="L2C2">
            Tipo de Público:<br>
            <select id="sltTipo" 
                [(ngModel)]="editTipoPublico" name="TipoPublico">
                <option *ngFor="let op of tiposPublicos" value="{{ op.tipoPublicoId }}">{{ op.nome }}</option>
            </select>
            </div>                        
          <div id="L2C3">
                Status:<br>
                <select id="sltStatusPagamento" 
                [(ngModel)]="editStatusPagamento" name="statusPagamento">
                <option *ngFor="let op of _util.optStatusAdimplencia" [value]="op.value">{{ op.name }}</option>
           </select>
          </div>                        
        </div>
        <div id="LineBodyCentral">
              <div id="L4C1">
                      <button (click)="gotoBuscarAssociado()">Pesquisar</button>
                      <button (click)="gotoImprimirLista()">Imprimir Lista</button>
               </div>
            </div>
            <div id="LineBodyCentral">
      
              <div id="L5C1">
                  <fieldset> 
                      <legend>Listagem de Associados</legend>
                      <div id="Lst">
                      <div id="LstHeader">
                          <div id="LstCol1">Associado</div>
                          <div id="LstCol2">CPF</div>
                          <div id="LstCol3">Objetivo</div>
                          <div id="LstCol4">Vencimento</div>
                          <div id="LstCol5">Pagamento</div>
                          <div id="LstCol6">Status</div>
                      </div>
                      <div id="LstCenter">       
                  <ul class="associados">
                      <li *ngFor="let recebimento of recebimentos"
                      [class.selected]="recebimento.recebimentoId === selectedId">
                      <a [routerLink]="['/RecebimentoEvento', recebimento.recebimentoId]">
                          <div id="LstCol1c">{{ recebimento.associado.nome }}</div>
                          <div id="LstCol2c">{{ recebimento.associado.cpf }}</div>
                          <div id="LstCol3c">{{ recebimento.objetivoPagamento | objetivoPagamento }}</div>
                          <div id="LstCol4c">{{ recebimento.dtVencimento | date:'dd/MM/yyyy' }}</div>
                          <div id="LstCol5c">{{ recebimento.dtPagamento | date:'dd/MM/yyyy' }}</div>
                          <div id="LstCol6c">{{ recebimento.statusPagamento |  statusPagamento }}</div>
                      </a>
                  </li>
                  </ul>
                      </div>
                      <div id="LstFooter">&nbsp;
                              <button (click)="gotoPrimeiraPagina()">|<<</button>
                              <button (click)="gotoPaginaAnterio()"><<</button>
                              <button (click)="gotoProximaPagina()">>></button>
                              <button (click)="gotoUltimaPagina()">>>|</button>
                          </div>
                  </div>
                  </fieldset>
              </div>
          </div>
      </div>            
  </div>
</div>