<div class="row">

    <div class="col-lg-2">
        &nbsp;
    </div>

    <div class="col-lg-8">
        
        <div class="row">
            <div class="col-lg-8">
                    <h1 class="page-header">{{ title }} <span class="badge badge-default">{{ badge }}</span></h1>
            </div>
            <div class="col-lg-4">
                <a class="navbar-brand align-middle" [routerLink]="['/']">
                    <svg >
                        <image href="assets/fbtc-logo.png" src="fbtc-logo.png" />
                    </svg>
                </a>
            </div>        
        </div>
        
        <div class="row">
            <div class="col-lg-12">
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                    <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ _msgProgresso }}&nbsp;
                    </div>
                    <div class="panel-body">
                            <div class="row">
                                
                                <div class="col-lg-6">
                                    
                                    <div class="form-group">
                                        <label for="inpEMail">E-Mail:</label>
                                        <input id="inpEMail" name="eMail" class="form-control" type="text"
                                            maxlength="100"
                                            [(ngModel)]="editeMail"  #eMail="ngModel"/>
                                    </div>
        
                                </div>
                                <div class="col-lg-6">
                                    
                                    <div class="form-group">
                                        <label for="inpPassword">Senha:</label>
                                        <input id="inpPassword" name="password" class="form-control" type="password" 
                                            maxlength="100" 
                                            [(ngModel)]="editPassword" #nome="ngModel"/>
                                    </div>
                                </div>
        
                            </div>
                            <div class="row">
                                <div class="col-lg-6">

                                    <div *ngIf="_msg !== ''" class="{{ alertClassType }}">
                                            <div >{{ _msg }}</div>
                                    </div>
<!--
                                    <div *ngIf="_msg !== ''" class="alert alert-success">
                                        <div >{{ _msg }}</div>
                                    </div>
                                    <div *ngIf="_msgDng !== ''" class="alert alert-danger">
                                        <div >{{ _msgDng }}</div>
                                    </div>
-->
                                </div>
                                <div class="col-lg-6"></div>
                            </div>
                        </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-4">
                                <button type="button" class="btn btn-success" (click)="gotoReenviarSenha()">Reenviar Senha</button>
                                <button type="button" class="btn btn-info" (click)="gotoNovoCadastro()">Quero me cadastrar!</button>
                            </div>
                            <div class="col-lg-8 text-right">
                                <button type="submit" class="btn btn-primary"> Login </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>

    </div>
    
    <div class="col-lg-2">
        &nbsp;
    </div>

</div>




