<h1 class="page-header">{{ title }}</h1>
<div class="row">
    <div class="col-lg-12">
        <form (ngSubmit)="onSubmit()" #associadoForm="ngForm">
        <div class="panel panel-default">
            <div class="panel-heading">Dados</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="inpNome">Nome do Associado:</label>
                            <input id="inpNome" name="nome" class="form-control" type="text"
                            minlength="2" maxlength="100"
                            [(ngModel)]="editNome" #nome="ngModel"/>
                            <div *ngIf="nome.invalid && (nome.dirty || nome.touched)"
                                class="alert alert-danger">
                            <div *ngIf="nome.errors.minlength"> * O Nome deve ter pelo menos 2 letras.</div>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="sltAnoIsencao">Ano da Isenção:</label>
                            <select id="sltAnoIsencao" name="anoIsencao" class="form-control"
                            [(ngModel)]="editAnoIsencao" #anoIsencao="ngModel">
                                <option *ngFor="let ano of _util.lstAno" [value]="ano">{{ano}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="inpIdentificacao">Identificação da Isencao:</label>
                            <input id="inpIdentificacao" name="identificacao" class="form-control" type="text"
                            maxlength="60"
                            [(ngModel)]="editIdentificacao" #identificacao="ngModel"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button type="submit" class="btn btn-primary">Pesquisar</button>
                        <button class="btn btn-default" (click)="gotoNovaIsencao()">Nova</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <!-- PAINEL RESULTADO DA BUSCA -->
        <div class="panel panel-primary">
            <div class="panel-heading">Listagem de Isenções</div>
            <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Identificação da Isenção</th>
                                    <th>Ano</th>
                                    <th>Isentos</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let isencaoDao of isencoes"
                                    [class.selected]="isencaoDao.isencaoId === selectedId">
                                    <td>{{ isencaoDao.descricao }}</td>
                                    <td>{{ isencaoDao.anoIsencao }}</td>
                                    <td>{{ isencaoDao.quantIsentos }}</td>
                                    <td>
                                        <a [routerLink]="['/IsencaoAnuidade', isencaoDao.isencaoId]"><i class="fa fa-pencil text-primary"></i></a>&nbsp;
                                        <i class="fa fa-trash text-danger"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
            <div class="panel-footer text-center">
                <div class="btn-group">
                    <button class="btn btn-default" (click)="gotoPrimeiraPagina()"><i class="fa fa-angle-double-left"></i></button>
                    <button class="btn btn-default" (click)="gotoPaginaAnterio()"><i class="fa fa-angle-left"></i></button>
                    <button class="btn btn-default" (click)="gotoProximaPagina()"><i class="fa fa-angle-right"></i></button>
                    <button class="btn btn-default" (click)="gotoUltimaPagina()"><i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>