<!--Model da mensagem de exclusão -->
<div #myModal class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title" id="myModalLabel">Mensagem do Sistema</h4>
          </div>
          <div class="modal-body">
              {{ message }}
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal">&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;</button>
              <!--<button type="button" class="btn btn-">Cancelar</button>-->
          </div>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
