<h1 class="page-header">{{ title }}</h1>
<div class="row">
    <div class="col-lg-12">
    <form (ngSubmit)="onSubmit()" #colaboradorForm="ngForm">
        <div class="panel panel-default">
            <div class="panel-heading">
                Filtro
            </div>
            <div class="panel-body">
                <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Nome:</label>
                                <input id="inpNome" name="nome" class="form-control" type="text"
                                    minlength="2"  maxlength="100"
                                    [(ngModel)]="editNome"  #nome="ngModel"/>
                                <div *ngIf="nome.invalid && (nome.dirty || nome.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="nome.errors.minlength"> * O Nome deve ter pelo menos 4 letras.</div>
                                </div>  
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label>Perfil:</label>                          
                                        <select id="sltPerfil" class="form-control" name="Perfil"
                                        [(ngModel)]="editTipoPerfil" name="tipoPerfil" >
                                        <option *ngFor="let op of _util.optTipoPerfil" value="{{ op.value }}">{{ op.name }}</option>
                                    </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Status:</label><br>
                                        <div>
                                            <label required class="radion-inline" *ngFor="let op of _util.optBooleanFull; let idx = index">
                                                <input type="radio" [(ngModel)]="editAtivo" name="rdaAtivo" [value]="op.value" [checked]="idx === 1"> {{ op.name }} &nbsp;
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
                <button class="btn btn-default" (click)="gotoNovoColaborador()">Novo</button>
            </div>
        </div>
    </form>
        <div class="panel panel-primary">
            <div class="panel-heading">Resultado da Consulta</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>E-Mail</th>
                                <th>Celular</th>
                                <th>Perfil</th>
                                <th>Ativo</th>
                                <th>A&ccedil;&otilde;es</th>
                            </tr>
                        </thead>
                        <tbody class="associados">
                            <tr *ngFor="let colaborador of colaboradores | paginate: { itemsPerPage: _itensPerPage, currentPage: p }"
                                [class.selected]="colaborador.colaboradorId === selectedId">
                                <td>{{ colaborador.ColaboradorId}} {{ colaborador.nome}}</td>
                                <td>{{colaborador.eMail}}</td>
                                <td>{{colaborador.nrCelular}}</td>
                                <td>{{colaborador.tipoPerfil | tipoPerfil }}</td>
                                <td>{{colaborador.ativo | booMessage }}</td>
                                <td>
                                    <a [routerLink]="['/Colaborador', colaborador.colaboradorId]"><i class="fa fa-pencil text-primary" ></i></a>
                                    <i class="fa fa-trash text-danger" data-toggle="modal" data-target="#myModal"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-center">
                    <div class="btn-group">
                        <pagination-controls    (pageChange)="p = $event"
                                                maxSize="9"
                                                directionLinks="true"
                                                previousLabel="Anterior"
                                                nextLabel="Próxima"
                        ></pagination-controls>
                        <!--<button class="btn btn-default" (click)="gotoPrimeiraPagina()"><i class="fa fa-angle-double-left"></i></button>
                        <button class="btn btn-default" (click)="gotoPaginaAnterio()"><i class="fa fa-angle-left"></i></button>
                        <button class="btn btn-default" (click)="gotoProximaPagina()"><i class="fa fa-angle-right"></i></button>
                        <button class="btn btn-default" (click)="gotoUltimaPagina()"><i class="fa fa-angle-double-right"></i></button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

