<h1 class="page-header">{{ title }}</h1>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Filtro
            </div>
            <div class="panel-body">
                <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Nome:</label>
                                <input [(ngModel)]="editNome" class="form-control" maxlength="100" required/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label>Perfil:</label>                          
                                        <select id="sltPerfil" class="form-control" name="Perfil"
                                        [(ngModel)]="editPerfil" name="Perfil" >
                                        <option *ngFor="let op of _util.optTipoPerfil" value="{{ op.value }}">{{ op.name }}</option>
                                    </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Status:</label><br>
                                        <div>
                                            <label required class="radion-inline" *ngFor="let op of _util.optBooleanFull; let idx = index">
                                                <input type="radio" [(ngModel)]="editAtivo" name="rdaAtivo" [value]="op.value" [checked]="idx === 0"> {{ op.name }} &nbsp;
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-primary" (click)="gotoBuscarColaborador()">Pesquisar</button>
                <button class="btn btn-default" (click)="gotoNovoColaborador()">Novo</button>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Resultado do Filtro</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>E-Mail</th>
                                <th>Celular</th>
                                <th>Perfil</th>
                                <th>Status</th>
                                <th>A&ccedil;&otilde;es</th>
                            </tr>
                        </thead>
                        <tbody class="associados">
                            <tr *ngFor="let colaborador of colaboradores"
                                [class.selected]="colaborador.colaboradorId === selectedId">
                                <td>{{ colaborador.ColaboradorId}} {{ colaborador.nome}}</td>
                                <td>{{colaborador.eMail}}</td>
                                <td>{{colaborador.nrCelular}}</td>
                                <td>{{colaborador.tipoPerfil | tipoPerfil }}</td>
                                <td>{{colaborador.ativo | booMessage }}</td>
                                <td>
                                    <a [routerLink]="['/Colaborador', colaborador.colaboradorId]"><i class="fa fa-pencil text-primary" (click)="gotoPrimeiraPagina()"></i></a>
                                    <i class="fa fa-trash text-danger" data-toggle="modal" data-target="#myModal"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-center">
                    <div class="btn-group">
                        <button class="btn btn-default" (click)="gotoPrimeiraPagina()"><i class="fa fa-angle-double-left"></i></button>
                        <button class="btn btn-default" (click)="gotoPaginaAnterio()"><i class="fa fa-angle-left"></i></button>
                        <button class="btn btn-default" (click)="gotoProximaPagina()"><i class="fa fa-angle-right"></i></button>
                        <button class="btn btn-default" (click)="gotoUltimaPagina()"><i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Model da mensagem de exclusão -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Confirmação de Exclusão</h4>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir <strong>Rodolpho Silva</strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger">Confirmar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>