<h1 class="page-header">{{ title }} <span class="badge badge-default">{{ badge }}</span></h1>
<div class="row">
    <div class="col-lg-12">
        <form (ngSubmit)="onSubmit()" #associadoForm="ngForm">
        <div class="panel panel-default">
            <div class="panel-heading">Dados</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="form-group">
                            <label for="inpNome">Nome:</label>
                            <input id="inpNome" name="nome" class="form-control" type="text"
                                required minlength="4" maxlength="100" 
                                [(ngModel)]="associado.nome"  #nome="ngModel"/>
                            <div *ngIf="nome.invalid && (nome.dirty || nome.touched)"
                                class="alert alert-danger">
                                <div *ngIf="nome.errors.required">* O Nome é obrigatório.</div>
                                <div *ngIf="nome.errors.minlength"> * O Nome deve ter pelo menos 4 letras.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inpEmail">E-Mail:</label>
                            <input id="inpEmail" name="email" class="form-control" type="email"
                                required minlength="4" maxlength="100" 
                                [(ngModel)]="associado.eMail" #eMail="ngModel"/>
                            <div *ngIf="eMail.invalid && (eMail.dirty || eMail.touched)"
                                class="alert alert-danger">
                                <div *ngIf="eMail.errors.required">* O E-Mail é obrigatório.</div>
                                <div *ngIf="eMail.errors.minlength">* O E-Mail deve ter pelo menos 4 letras.</div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="inpDataNascimento">Data de Nascimento:</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                <input id="inpDataNascimento" name="dataNascimento" class="form-control" type="date"
                                    [ngModel]="associado.dtNascimento | date:'yyyy-MM-dd'" (ngModelChange)="associado.dtNascimento = $event"  #dataNascimento="ngModel" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sltSexo">Sexo:</label>
                            <select id="sltSexo" name="sexo" class="form-control" 
                                required 
                                [(ngModel)]="associado.sexo" #sexo="ngModel">
                                <option *ngFor="let op of _util.optSexo" value="{{ op.value }}">{{ op.name }}</option>
                            </select>
                            <div *ngIf="sexo.invalid && (sexo.dirty || sexo.touched)"
                                class="alert alert-danger">
                                <div *ngIf="sexo.errors.required">* O Sexo deve ser informado.</div>
                            </div>    
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <app-file-upload
                            targetId= "{{ editAssociadoId }}"
                            projectId="FBTC" 
                            sectionId="AS" 
                            maxFiles="1" 
                            maxSize="2" 
                            fileExt="JPG, GIF, PNG" 
                            (uploadStatus)="refreshImages($event)" >
                        </app-file-upload>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="inpCPF">CPF:</label>
                            <input id="inpCPF" name="cpf" class="form-control" type="text"
                                maxlength="15" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="Formato correto: 000.000.000-00"
                                data-mask="000.000.000-00" data-mask-reverse="true"
                                [(ngModel)]="associado.cpf" #cpf="ngModel"/>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="inpRG">RG:</label>
                            <input id="inpRG" name="rg" class="form-control" type="number"
                                maxlength="15"
                                [(ngModel)]="associado.rg"  #rg="ngModel"/>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="inpMatricula">Matricula:</label>
                            <input id="inpMatricula" name="matricula" class="form-control" type="number"
                                maxlength="15"
                                [(ngModel)]="associado.nrMatricula" #matricula="ngModel"/>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="inpNrelular">Celular:</label>
                            <input id="inpNrCelular" name="nrCelular" class="form-control" type="number"
                                required  minlength="10" maxlength="11" 
                                [(ngModel)]="associado.nrCelular" #nrCelular="ngModel"/>
                            <div *ngIf="nrCelular.invalid && (nrCelular.dirty || nrCelular.touched)"
                                class="alert alert-danger">
                                <div *ngIf="nrCelular.errors.required">* O Nº do celular é obrigatório.</div>
                                <div *ngIf="nrCelular.errors.minlength">* O Nº do celular deve ter pelo menos 10 algarismos.</div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="inpNrTelDivulgacao">Telefone Divulgação:</label>
                            <input id="inpNrTelDivulgacao" name="nrTelDivulgacao" class="form-control" type="number"
                                minlength="10" maxlength="11"     
                                [(ngModel)]="associado.nrTelDivulgacao" #nrTelDivulgacao="ngModel"/>
                                <div *ngIf="nrTelDivulgacao.invalid && (nrTelDivulgacao.dirty || nrTelDivulgacao.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="nrTelDivulgacao.errors.minlength">* O Nº do telefone deve ter pelo menos 10 algarismos.</div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="sltATC">ATC:</label>
                            <select id="sltATC"  name="ATC" class="form-control" 
                                required    
                                [(ngModel)]="associado.atcId" #atcId="ngModel">
                                <option *ngFor="let op of atcs" value="{{ op.atcId }}">{{ op.nome }}</option>
                            </select>
                            <div *ngIf="atcId.invalid && (atcId.dirty || atcId.touched)"
                                class="alert alert-danger">
                                <div *ngIf="atcId.errors.required">* Informe a Atc do associado.</div>
                            </div>    
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="sltTipo">Tipo:</label>
                            <select id="sltTipoPublico" name="TipoPublico" class="form-control" 
                                required
                                [(ngModel)]="associado.tipoPublicoId" #tipoPublico="ngModel">
                                <option *ngFor="let op of tiposPublicos" value="{{ op.tipoPublicoId }}">{{ op.nome }}</option>
                            </select>
                            <div *ngIf="tipoPublico.invalid && (tipoPublico.dirty || tipoPublico.touched)"
                                class="alert alert-danger">
                                <div *ngIf="tipoPublico.errors.required">* Informe o Tipo do associado.</div>
                            </div>    
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="inpCRP">CRP:</label>
                            <input id="inpCRP" name="crp" class="form-control" type="number"
                                maxlength="15"
                                [(ngModel)]="associado.crp" #crp="ngModel"/>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="inpCRM">CRM:</label>
                            <input id="inpCRM" name="crm" class="form-control" type="number"
                                maxlength="15"
                                [(ngModel)]="associado.crm" #crm="ngModel"/>
                        </div>    
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="inpNomeInstFormacao">Instituição de Formação:</label>
                            <input id="inpNomeInstFormacao" name="nomeInstFormacao" class="form-control" type="text"
                                maxlength="100"
                                [(ngModel)]="associado.nomeInstFormacao" #nomeInstFormacao="ngModel"/>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="inpDataCadastro"> Data Cadastro:</label>
                            <input id="inpDataCadastro" name="dataCadastro" class="form-control" type="text"
                                 readonly
                                value="{{ associado.dtCadastro | date:'dd/MM/yyyy'}}" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="inpTipoTitulacao">Titulação:</label>
                            <select id="inpTipoTitulacao" name="tipoTitulacao" class="form-control" 
                                required    
                                [(ngModel)]="associado.tipoTitulacao" #tipoTitulacao="ngModel">
                                <option *ngFor="let op of _util.optTipoTitulacao" value="{{ op.value }}">{{ op.name }}</option>
                            </select>
                            <div *ngIf="tipoTitulacao.invalid && (tipoTitulacao.dirty || tipoTitulacao.touched)"
                                class="alert alert-danger">
                                <div *ngIf="tipoTitulacao.errors.required">* Informe a titulação do associado.</div>
                            </div>    
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="inpTipoProfissao">Profissão:</label>
                            <select id="inpTipoProfissao" name="TipoProfissao" class="form-control"
                                [(ngModel)]="associado.tipoProfissao" #tipoProfissao="ngModel">
                                <option *ngFor="let op of _util.optTipoProfissao" value="{{ op.value }}">{{ op.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Certificado?:</label>
                            <div>
                                <label required class="radion-inline" *ngFor="let op of _util.optBoolean" >
                                    <input type="radio" [(ngModel)]="associado.certificado" name="certificado" id="rdbCertificado" 
                                    [checked]="op.value === associado.certificado" [value]="op.value"> {{ op.name }} &nbsp;</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label for="inpDtCertificacao">Data Certificação:</label>
                        <input id="inpDtCertificacao" name="inpDtCertificacao" class="form-control" type="date"
                        [ngModel]="associado.dtCertificacao | date:'yyyy-MM-dd'" (ngModelChange)="associado.dtCertificaca=$event" #dtCertificacao="ngModel"/>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Divulg. contato?:</label><br>
                            <label required class="radion-inline" *ngFor="let op of _util.optBoolean" >
                                <input type="radio" [(ngModel)]="associado.divulgarContato" name="divulgarContato" id="rdbDivulgarContato" 
                                [checked]="op.value === associado.divulgarContato" [value]="op.value"> {{ op.name }} &nbsp; </label>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label>Contato para divulgação:</label><br>
                            <label required class="checkbox-inline" *ngFor="let op of _util.optTipoFormaContato" >
                                <input type="checkbox" [(ngModel)]="associado.tipoFormaContato" name="tipoFormaContato" id="rdbTipoFormaContato"
                                [checked]="op.value === associado.tipoFormaContato" [value]="op.value"> {{ op.name }} &nbsp; </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Diretoria:</label><br>
                            <label required class="radion-inline" *ngFor="let op of _util.optBoolean" >
                                <input type="radio" [(ngModel)]="associado.integraDiretoria" name="Diretoria" id="rdbDiretoria" 
                                [checked]="op.value === associado.integraDiretoria" [value]="op.value"> {{ op.name }} &nbsp; </label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>CONFI:</label><br>
                            <label required class="radion-inline" *ngFor="let op of _util.optBoolean" >
                                <input type="radio" [(ngModel)]="associado.integraConfi" name="Confi" id="rdbConfi" 
                                [checked]="op.value === associado.integraConfi" [value]="op.value"> {{ op.name }} &nbsp; </label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Ativo:</label><br>
                            <label required class="radion-inline" *ngFor="let op of _util.optBoolean" >
                                    <input type="radio" [(ngModel)]="associado.ativo" name="ativo" id="rdbAtivo" 
                                    [checked]="op.value === associado.ativo" [value]="op.value"> {{ op.name }} &nbsp; </label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Adimplente:</label><br>
                            <label required class="radion-inline" *ngFor="let op of _util.optBoolean" >
                                    <input type="radio" [(ngModel)]="associado.adimplente" name="adimplente" id="rdbAdimplente" 
                                    [checked]="op.value === associado.adimplente" [value]="op.value"> {{ op.name }} &nbsp; </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="well">
                            <h3>Dados de Endereço:</h3>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="inpCEP">CEP:</label>
                                        <div class="input-group">
                                            <input id="inpCEP" name="cep" class="form-control" type="text"
                                                maxlength="9"    
                                                [(ngModel)]="associado.enderecoPessoa.cep" #cep="ngModel"/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" (click)="getEnderecoByCep()" title="Buscar Cep"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <label for="inpLogradouro">Logradouro:</label>
                                        <input id="inpLogradouro" name="logradouro" class="form-control" type="text"
                                            maxlength="100" readonly    
                                            [(ngModel)]="associado.enderecoPessoa.logradouro" #logradouro="ngModel"/>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="inpNumero">Nº:</label>
                                        <input id="inpNumero" name="numero"class="form-control" type="text"
                                            maxlength="10"
                                            [(ngModel)]="associado.enderecoPessoa.numero" #numero="ngModel"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="inpComplemento">Complemento:</label>
                                        <input id="inpComplemento" name="complemento" class="form-control" type="text"
                                            maxlength="100"
                                            [(ngModel)]="associado.enderecoPessoa.complemento" #complemento="ngModel"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="inpBairro">Bairro:</label>
                                        <input id="inpBairro" name="bairro" class="form-control" type="text"
                                            size="20px" maxlength="100" readonly
                                            [(ngModel)]="associado.enderecoPessoa.bairro" #bairro="ngModel"/>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="inpCidade">Cidade:</label>
                                        <input id="inpCidade" name="cidade" class="form-control" type="text"
                                            size="20px" maxlength="100" readonly   
                                            [(ngModel)]="associado.enderecoPessoa.cidade" #cidade="ngModel"/>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="inpEstado">Estado:</label>
                                        <input id="inpEstado" name="estado" class="form-control" type="text"
                                            size="5px" maxlength="2" readonly    
                                            [(ngModel)]="associado.enderecoPessoa.estado" #estado="ngModel"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-6">
                        <button class="btn btn-success" (click)="reenviarSenha()">Reenviar Senha</button>
                    </div>
                    <div class="col-lg-6 text-right">
                        <button type="submit" class="btn btn-primary" [disabled]="!associadoForm.form.valid">Salvar</button>
                        <button class="btn btn-default" (click)="gotoAssociados()">Retornar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
