<h1 class="page-header">Cadastro de Evento</h1>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">{{ title }}</div>
            <div class="panel-body">
                <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <label>Titulo:</label>
                                        <input [(ngModel)]="evento.titulo" class="form-control" maxlength="100" required/>
                                    </div>
                                    <div class="col-lg-2">
                                        <label>&nbsp;</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label> Data de Início:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            <input [(ngModel)]="evento.dtInicio" class="form-control" maxlength="10" type="Date" required/>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Data de Término:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            <input [(ngModel)]="evento.dtTermino" class="form-control" maxlength="10" type="Date" required/>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Término Inscrições:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            <input [(ngModel)]="evento.dtTerminoInscricao" class="form-control" size="15px" maxlength="10" type="Date" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>C&oacute;digo:</label>
                                            <input [(ngModel)]="evento.codigo" class="form-control" maxlength="10"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Tipo Evento:</label>
                                            <select id="sltTipoEvento" required [(ngModel)]="evento.tipoEvento" name="tipoEvento" class="form-control">
                                                <option *ngFor="let op of optTiposEventos" value="{{ op.value }}">{{ op.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Imagem do evento:</label><br>
                                        <img class="imagemEvento" src="../assets/no-foto.png" alt="Não disponível" >
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">   
                        <label>Descrição:</label>
                        <textarea [(ngModel)]="evento.descricao" class="form-control" rows="15"></textarea> 
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Faixa de Pre&ccedil;os
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Tipo de Público</th>
                                <th>Valor</th>
                                <th>Ativo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tipoPublico of tiposPublicos">
                                <td>{{ tipoPublico.nome }}</td>
                                <td><input [(ngModel)]="evento.tipoPublico" size="15px" maxlength="10" required/></td>
                                <td><input type="checkbox"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Extra</div>
            <div class="panel-body">
                <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Aceita Isenção?</label><br>
                                <label required class="radion-inline" *ngFor="let op of optBoolean" >
                                    <input type="radio" [(ngModel)]="evento.aceitaIsencaoAta" name="AceitaIsencao" id="rdbAtivo" 
                                    [checked]="op.value === evento.aceitaIsencaoAta" [value]="op.value"> {{ op.name }} &nbsp; </label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Anúncio Ativo?</label><br>   
                                <label required class="radion-inline" *ngFor="let op of optBoolean" >
                                    <input type="radio" [(ngModel)]="evento.ativo" name="ativo" id="rdbAtivo" 
                                    [checked]="op.value === evento.ativo" [value]="op.value"> {{ op.name }} &nbsp; </label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-default" (click)="gotoPreviewAnuncio()"><i class="fa fa-eye"></i> Preview do Anúncio</button>
                        </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-default" (click)="gotoPreviewAnuncio()"><i class="fa fa-back"></i>Retornar</button>
                <button class="btn btn-default" (click)="gotoSaveEvento()">Salvar</button>
                <button class="btn btn-default" (click)="gotoDeleteEvento()">Excluir</button>
            </div>
        </div>
    </div>
</div>