<h1 class="page-header">Cadastro de Evento</h1>
<div class="row">
    <div class="col-lg-12">
    <form (ngSubmit)="onSubmit()" #eventoForm="ngForm">
        <div class="panel panel-default">
            <div class="panel-heading">{{ title }}</div>
            <div class="panel-body">
                <div class="row">
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <label for="inpTitulo">Titulo:</label>
                                        <input id="inpTitulo" name="titulo" class="form-control" type="text"
                                            required minlength="5" maxlength="100" 
                                            [(ngModel)]="evento.titulo" #titulo="ngModel"/>

                                        <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="titulo.errors.required">* O Título é obrigatório.</div>
                                            <div *ngIf="titulo.errors.minlength">* O Título deve ter pelo menos 5 letras.</div>
                                        </div>    
                                    </div>
                                    <div class="col-lg-2">
                                        <label>&nbsp;</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label for="inpDtInicio">Data de Início:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            <input id="inpDtInicio" name="dtInicio" class="form-control" type="date" 
                                                required maxlength="10"
                                                [ngModel]="evento.dtInicio | date:'yyyy-MM-dd'" (ngModelChange)="evento.dtInicio = $event"  #dtInicio="ngModel"/>
                                            <div *ngIf="dtInicio.invalid && (dtInicio.dirty || dtInicio.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="dtInicio.errors.required">* A data de início é obrigatória.</div>
                                            </div>    
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Data de Término:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            <input id="inpDtTerminio" name="dataTerminio" class="form-control" type="Date"
                                                required 
                                                [ngModel]="evento.dtTermino | date:'yyyy-MM-dd'" (ngModelChange)="evento.dtTermino = $event" #dtTerminio="ngModel"/>
                                            <div *ngIf="dtTerminio.invalid && (dtTerminio.dirty || dtTerminio.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="dtTerminio.errors.required">* A data de término é obrigatória.</div>
                                            </div>    

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="inpDtTerminioIncricao">Término Inscrições:</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            <input id="inpDtTerminioIncricao" name="dtTerminioIncricao" class="form-control" type="Date"
                                                required size="15px" maxlength="10"    
                                                [ngModel]="evento.dtTerminoInscricao | date:'yyyy-MM-dd'" (ngModelChange)="evento.dtTerminoInscricao=$event" #dtTermIncr="ngModel" />
                                            <div *ngIf="dtTermIncr.invalid && (dtTermIncr.dirty || dtTermIncr.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="dtTermIncr.errors.required">* A data de término da incrição é obrigatória.</div>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="inpcodigo">C&oacute;digo:</label>
                                            <input id="inpCodigo" name="codigo" class="form-control"
                                                maxlength="10"    
                                                [(ngModel)]="evento.codigo" #codigo="ngModel"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="sltTipoEvento">Tipo Evento:</label>
                                            <select id="sltTipoEvento" required [(ngModel)]="evento.tipoEvento" name="tipoEvento" class="form-control" #tipoEvento="ngModel">
                                                <option *ngFor="let op of _util.optTiposEventos" value="{{ op.value }}">{{ op.name }}</option>
                                            </select>
                                            <div *ngIf="tipoEvento.invalid && (tipoEvento.dirty || tipoEvento.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="tipoEvento.errors.required">* O tipo de evento é obrigatório.</div>
                                            </div>    
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <!--<label>&nbsp;</label><br>
                                        <img class="imagemEvento" src="../assets/no-foto.png" alt="Não disponível" >-->
                                        <app-file-upload
                                            targetId= "{{ editEventoId }}"
                                            projectId="FBTC" 
                                            sectionId="EV" 
                                            maxFiles="1" 
                                            maxSize="2" 
                                            fileExt="JPG, GIF, PNG" 
                                            (uploadStatus)="refreshImages($event)" >
                                        </app-file-upload>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">   
                        <label>Descrição:</label>
                        <textarea id="areaDescricao" name="descricao" class="form-control"
                            rows="15" required maxlength="2000" minlength="5"
                            [(ngModel)]="evento.descricao" #descricao="ngModel"></textarea>
                        
                            <div *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)"
                                class="alert alert-danger">
                                <div *ngIf="descricao.errors.required">* A Descrição é obrigatória.</div>
                                <div *ngIf="descricao.errors.minlength">* A Descrição deve ter pelo menos 5 letras.</div>
                            </div>    
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" *ngIf="tiposPublicosValoresDao"> 
            <div class="panel-heading">
                Faixa de Pre&ccedil;os
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Tipo de Público</th>
                                <th>Valor</th>
                                <th>Ativo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tp of tiposPublicosValoresDao" >
                                <td>{{ tp.nome }}</td>
                                <td><input id="inp{{ tp.tipoPublicoId }}" name="inp{{ tp.tipoPublicoId }}"  class="form-control"  
                                    maxlength="10"
                                    [ngModel]="tp.valor | currency:'BRL':'symbol':'1.2-2':'pt-br'" (ngModelChange)="tp.valor=$event" size="15px" /></td>
                                <td><input id="chk{{ tp.tipoPublicoId }}" name="chk{{ tp.tipoPublicoId }}" type="checkbox" [(ngModel)]="tp.valorAtivo"/></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Extra</div>
            <div class="panel-body">
                <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Aceita Isenção?</label><br>
                                <label required class="radion-inline" *ngFor="let op of _util.optBoolean" >
                                    <input type="radio" [(ngModel)]="evento.aceitaIsencaoAta" name="AceitaIsencao" id="rdbAtivo" 
                                    [checked]="op.value === evento.aceitaIsencaoAta" [value]="op.value"> {{ op.name }} &nbsp; </label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Anúncio Ativo?</label><br>   
                                <label required class="radion-inline" *ngFor="let op of _util.optBoolean" >
                                    <input type="radio" [(ngModel)]="evento.ativo" name="ativo" id="rdbAtivo" 
                                    [checked]="op.value === evento.ativo" [value]="op.value"> {{ op.name }} &nbsp; </label>
                            </div>
                        </div>
                        <div class="col-lg-4">&nbsp;</div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                        <div class="col-lg-6">
                                <button class="btn btn-success" (click)="gotoPreviewAnuncio()"><i class="fa fa-eye"></i> Preview do Anúncio</button>
                            </div>
                        <div class="col-lg-6 text-right">
                            <button type="submit" class="btn btn-primary" [disabled]="!eventoForm.form.valid">Salvar</button>
                            <button class="btn btn-default" (click)="gotoEventos()">Retornar</button>
                        </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>