<!-- COPIAR E COLAR TEMPLATE-FORM -->
    <div class="panel panel-primary">
        <div class="panel-heading">Listagem de XXXX</div>
        <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>COL1</td>
                                <td>COL2</td>
                                <td>COL3</td>
                                <td>Ações</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>col1</td>
                                <td>col2</td>
                                <td>col3</td>
                                <td>
                                    <a><i class="fa fa-pencil text-primary"></i></a>&nbsp;
                                    <i class="fa fa-trash text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        <div class="panel-footer text-center">
            <div class="btn-group">
                <button class="btn btn-default"><i class="fa fa-angle-double-left"></i></button>
                <button class="btn btn-default"><i class="fa fa-angle-left"></i></button>
                <button class="btn btn-default"><i class="fa fa-angle-right"></i></button>
                <button class="btn btn-default"><i class="fa fa-angle-double-right"></i></button>
            </div>
        </div>
    </div>