<div id="base">
  <div id="Central">
      <div id="HeaderCentral">
          <h3>{{ title }}</h3>
      </div>
      <div id="BodyCentral">
        <div id="LineBodyCentral">
            <div id="L0C1">
                Evento:<br>
                Nome do evento.....
            </div>
            <div id="L0C2">
                Tipo de público:<br>
                {{ recebimento.associado.tipoPublicoId | findNameInTipoPublico: tiposPublicos }}
            </div>
        </div>
        <div id="LineBodyCentral">
              <div id="L1C1">
                  Nome:<br>
                  {{ recebimento.associado.nome }}
              </div>
              <div id="L1C2">
                  CPF:<br>
                  {{ recebimento.associado.cpf }}
              </div>
              <div id="L1C3">
                CRP:<br>
                {{ recebimento.associado.crp }}
            </div>
            <div id="L1C4">
                CRM:<br>
                {{ recebimento.associado.crm }}
            </div>
          </div>
          <div id="LineBodyCentral">
            <div id="L2C1">
                E-Mail:<br>
                {{ recebimento.associado.eMail }}
            </div>
            <div id="L2C2">
                Status Pagamento:<br>
                {{ recebimento.statusPagamento | statusPagamento}}
              </div>
              <div id="L2C3">
                  Vencimento:<br>
                  {{ recebimento.dtVencimento }}
              </div>
              <div id="L2C4">
                Pagamento:<br>
                {{ recebimento.associado.dtPagamento }}
            </div>
          </div>
          <div id="LineBodyCentral">
             <div id="L3C1">
                  Celular:<br>
                  {{ recebimento.associado.nrCelular }}
              </div>
              <div id="L3C2">
                    Ativo:<br>
                    {{ recebimento.associado.ativo | booMessage }}
              </div>
              <div id="L3C3">
                    Forma de pagamento:<br>
                    {{ recebimento.associado.formaPagamento | formaPagamento }}
               </div>
              <div id="L3C4">
                    Nº Doc Cobrança:<br>
                    {{ recebimento.nrDocCobranca }}
               </div>
             <div id="L3C5">
                    Valor devido:<br>
                    {{ recebimento.associado.valorDevido }}
            </div>
            <div id="L3C6">
                    Data de notificação:<br>
                    {{ recebimento.associado.dtNotificacao }}
                </div>
        </div>
          <div id="LineBodyCentral">
              <div id="L5C1">
                  Observação:<br>
                  <textarea [(ngModel)]="recebimento.observacao" rows="10" cols="134"></textarea>
              </div>
          </div>
          <div id="LineBodyCentral">
              <div id="L6C1">

            </div>
          </div>
      </div>
      <div id="FooterCentral">
          <div id="FT1C1">
            <button (click)="gotoRecebimentoAnuidade()">Retornar</button>
            <button (click)="gotoSave()">Salvar</button>
            <button (click)="gotoNotificarAssociado()">Notificar Associado</button>
         </div>
      </div>
  </div>
</div>