<h1 class="page-header">{{ title }} <span class="badge badge-default">{{ badge }}</span></h1>
<div class="row">
    <div class="col-lg-12">
        <form (ngSubmit)="onSubmit()" #recebimentoForm="ngForm">
        <div class="panel panel-default">
            <div class="panel-heading">Dados</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="inpNome">Nome:</label>
                            <input id="inpNome" name="nome" class="form-control" type="text"
                                minlength="2"  maxlength="100"
                                [(ngModel)]="editNome"  #nome="ngModel"/>
                            <div *ngIf="nome.invalid && (nome.dirty || nome.touched)"
                                class="alert alert-danger">
                                <div *ngIf="nome.errors.minlength"> * O Nome deve ter pelo menos 2 letras.</div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                                <label for="sltTipoPublico">Tipo de Público:</label>
                                <select id="sltTipoPublico" name="tipoPublico" class="form-control"
                                    [(ngModel)]="editTipoPublicoId" #tipoPublico="ngModel">
                                    <option *ngFor="let op of tiposPublicos" value="{{ op.tipoPublicoId }}">{{ op.nome }}</option>
                                </select>
                            </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Status do pagamento:</label>
                            <select id="sltStatusPagamento" class="form-control" 
                            [(ngModel)]="editStatusPS" name="statusPS">
                                <option *ngFor="let op of _util.optStatusAdimplencia" [value]="op.value">{{ op.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Ano:</label>
                            <select class="form-control"
                                [(ngModel)]="editAno" name="Ano">
                                <option *ngFor="let ano of _util.lstAno" [value]="ano">{{ ano }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Mês:</label>
                            <select  class="form-control"
                                [(ngModel)]="editMes" name="Mes">
                                <option *ngFor="let mes of _util.lstMes" [value]="mes">{{ mes }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Recebimento Ativo?:</label>
                            <div>
                                <label class="radion-inline" *ngFor="let op of _util.optBooleanFull; let idx = index">
                                    <input type="radio" [(ngModel)]="editAtivo" name="rdaAtivo" [value]="op.value" [checked]="idx === 0"> {{ op.name }} &nbsp;
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div *ngIf="_msg !== ''" class="alert alert-success">
                            <div >{{ _msg }}</div>
                        </div>
                        <div *ngIf="mensagemSincronizacao !== ''" class="alert alert-info">
                            <div >{{ mensagemSincronizacao }}</div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button class="btn btn-success" (click)="gotoSicronizarComPagSeguro()" alt="Sincroniza o sistema 30 dias">Sincronizar com PagSeguro</button>
                        <!--<button class="btn btn-success" (click)="gotoGerarNovaCobranca()">Gera nova cobrança</button>-->
                        <button type="submit" class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <!-- PAINEL RESULTADO DA BUSCA -->
        <div class="panel panel-primary">
            <div class="panel-heading">Listagem de recebimentos de anuidades</div>
            <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td>Associado</td>
                                    <td>CPF</td>
                                    <td>Anuidade</td>
                                    <td>Data</td>
                                    <td>Situação</td>
                                    <td>Ações</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let recebimento of recebimentos | paginate: { itemsPerPage: _itensPerPage, currentPage: p }"
                                    [class.selected]="recebimento.recebimentoId === selectedId">
                                    <td>{{ recebimento.nome }}</td>
                                    <td>{{ recebimento.cpf }}</td>
                                    <td>{{ recebimento.anuidade }}</td>
                                    <td>{{ recebimento.lastEventDatePS | date:'dd/MM/yyyy' }}</td>
                                    <td>{{ recebimento.statusPS |  statusPagamento }}</td>
                                    <td>
                                        <a [routerLink]="['/admin/RecebimentoAnuidade', recebimento.recebimentoId]"><i class="fa fa-pencil text-primary"></i></a>&nbsp;
                                        <i *ngIf="recebimento.statusPagamento !== '3'" class="fa fa-trash text-danger"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
            <div class="panel-footer text-center">
                <div class="btn-group">
                        <pagination-controls    (pageChange)="p = $event"
                                                maxSize="9"
                                                directionLinks="true"
                                                previousLabel="Anterior"
                                                nextLabel="Próxima"
                        ></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>