<div id="base">
  <div id="Central">
    <div id="HeaderCentral">
      <h3>{{ title }}</h3>
    </div>
    <div id="BodyCentral">
              <div id="LineBodyCentral">
        <div id="L1C1">
          Nome:<br>
          <input [(ngModel)]="editNome" size="60px" maxlength="100" required/>
        </div>
        <div id="L1C2">
          CPF:<br>
          <input [(ngModel)]="editCPF" size="15px" maxlength="15"/>
        </div>
        <div id="L1C3">
          CRP:<br>
          <input [(ngModel)]="editCRP" size="15px" maxlength="15"/>
                  </div> 
              </div>    
              <div id="LineBodyCentral">
        <div id="L2C1">
          ATC de origem:<br>
            <select id="sltATC" 
                [(ngModel)]="editAtcId" name="ATC">
                <option *ngFor="let op of atcs" value="{{ op.atcId }}">{{ op.nome }}</option>
            </select>
        </div>
        <div id="L2C2">
          Tipo de associado:<br>
            <select id="sltTipo" 
                [(ngModel)]="editTipoPublico" name="TipoPublico">
                <option *ngFor="let op of tiposPublicos" value="{{ op.tipoPublicoId }}">{{ op.nome }}</option>
            </select>
            </div>
                  <div id="L2C3">
                      CRM:<br>
                      <input [(ngModel)]="editCRM" size="15px" maxlength="15"/>
                  </div>                        
              </div>
              <div id="LineBodyCentral">
                  <div id="L3C1">
                      <button (click)="gotoBuscarAssociado()">Pesquisar</button>
                      <hr>
                  </div>
              </div>
              <div id="LineBodyCentral">
                  <div id="L4C1">
                      <fieldset> 
                          <legend>Listagem de Associados</legend>
                          <div id="Lst">
                              <div id="LstHeader">
                                  <div id="LstCol1">Nome</div>
                                  <div id="LstCol2">CPF</div>
                                  <div id="LstCol3">CRP</div>
                                  <div id="LstCol4">CRM</div>
                                  <div id="LstCol5">Isento</div>
                              </div>
                              <div id="LstCenter">       
                                  <ul class="associados">
                                      <li *ngFor="let associado of associados">
                                              <div id="LstCol1c">&nbsp;{{ associado.nome }}</div>
                                              <div id="LstCol2c">&nbsp;{{ associado.cpf }}</div>
                                              <div id="LstCol3c">&nbsp;{{ associado.crp }}</div>
                                              <div id="LstCol4c">&nbsp;{{ associado.crm }}</div>
                                              <div id="LstCol5c"><input type="checkbox" checked></div>
                                      </li>
                                  </ul>
                              </div>
                              <div id="LstFooter">&nbsp;
                                  <button (click)="gotoPrimeiraPagina()">|<<</button>
                                  <button (click)="gotoPaginaAnterio()"><<</button>
                                  <button (click)="gotoProximaPagina()">>></button>
                                  <button (click)="gotoUltimaPagina()">>>|</button>
                              </div>
                      </div>
                      </fieldset>
                  </div>
              </div>    
    </div>            
  </div>
</div>
        