<div id="base">
  <div id="Central">
      <div id="HeaderCentral">
          <h3>{{ title }}</h3>
      </div>
      <div id="BodyCentral">
          <div id="LineBodyCentral">
              <div id="L1C1">
                  Nome:<br>
                  <input [(ngModel)]="editNome" size="70px" maxlength="100" required/>
              </div>
              <div id="L1C2">
                  Ano:<br>
                  <select required
                  [(ngModel)]="editAno" name="Ano" #sexo="ngModel">
                  <option *ngFor="let ano of lstAno" [value]="ano">{{ ano }}</option>
              </select>
            </div>
              <div id="L1C3">
                Tipo de evento:<br>
                <select required
                    [(ngModel)]="editTipoEvento" name="TipoEvento" #sexo="ngModel">
                    <option *ngFor="let tipoEvento of lstTipoEvento" [value]="tipoEvento">{{ tipoEvento }}</option>
                </select>
            </div>
              <div id="L2C1">
                      <button (click)="gotoBuscarEvento()">Pesquisar</button>
                      <button (click)="gotoNovoEvento()">Novo</button>
              </div>
              <div id="L5C1">
                  <fieldset> 
                      <legend>Listagem de Eventos</legend>
                      <div id="Lst">
                      <div id="LstHeader">
                          <div id="LstCol1">Nome</div><div id="LstCol2">Tipo</div><div id="LstCol3">Início</div><div id="LstCol4"></div><div id="LstCol5"></div>
                      </div>
                      <div id="LstCenter">       
                  <ul class="associados">
                      <li *ngFor="let evento of eventos"
                          [class.selected]="evento.eventoId === selectedId">
                          <a [routerLink]="['/Evento', evento.eventoId]">
                              <div id="LstCol1c">{{ evento.titulo }}</div>
                              <div id="LstCol2c">{{ evento.tipoEvento  | tipoEvento }}</div>
                              <div id="LstCol3c">{{ evento.dtInicio | date: 'dd/MM/yyyy' }}</div>
                              <div id="LstCol4c"></div>
                              <div id="LstCol5c"></div>
                          </a>
                      </li>
                  </ul>
                      </div>
                      <div id="LstFooter">&nbsp;
                              <button (click)="gotoPrimeiraPagina()">|<<</button>
                              <button (click)="gotoPaginaAnterio()"><<</button>
                              <button (click)="gotoProximaPagina()">>></button>
                              <button (click)="gotoUltimaPagina()">>>|</button>
                          </div>
                  </div>
                  </fieldset>
              </div>
          </div>
      </div>            
  </div>
</div>