<h1 class="page-header">{{ title }}</h1>
<div class="row">
    <div class="col-lg-12">
    <form (ngSubmit)="onSubmit()" #relatorioForm="ngForm">
     
      <div class="panel panel-default">
        
            <div class="panel-heading">
                Filtro
            </div>
            <div class="panel-body">
                <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="sltAno">Ano:</label><br>
                                <select id="sltAno" name="ano" class="form-control"
                                    required  
                                    [(ngModel)]="editAno"  #ano="ngModel" (ngModelChange)="setAnoRpt()">
                                    <option *ngFor="let ano of _util.lstAno" [value]="ano">{{ ano }}</option>
                                </select>
                                <div *ngIf="ano.invalid && (ano.dirty || ano.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="ano.errors.required">* Informe o Ano.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                        </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button type="submit" class="btn btn-primary" [disabled]="!relatorioForm.form.valid">Pesquisar</button>
                    </div>
                </div>
            </div>
          
        </div>
    </form>
    
    <div class="panel panel-primary">
          <div class="panel-heading">
              Registros:
          </div>
          <div class="panel-body">
                  <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                  <td>Tipo de Associação</td>
                                  <td>Quant</td>
                              </tr>
                          </thead>
                          <tbody class="RptTotalAssociadosDAO">
                              <tr *ngFor="let rptTotalAssociadosDAO of rptTotalAssociadosDAOs">
                                  <td>{{ rptTotalAssociadosDAO.nomeTipoAssociado }}</td>
                                  <td>{{ rptTotalAssociadosDAO.qtd }}</td>
                              </tr>
                              <tr *ngFor="let rptTotalAssociadosDAO of rptTotalAssociadosDAOs ; let idx = index">
                                  <td *ngIf="idx === 0">Total de Usuários</td>
                                  <td *ngIf="idx === 0">{{ rptTotalAssociadosDAO.qtdTotal }}</td>
                              </tr>
                          </tbody>
                      </table>
                    </div>
          </div>
          <div class="panel-footer">
            <div class="row">
                <div class="col-lg-6">
                    <a href="{{ rptRoute }}"><button type="button" class="btn btn-success" [disabled]="!relatorioForm.form.valid">Exportar para o Excel</button></a>
                </div>
                <div class="col-lg-6 text-right">
                    <button type="submit" class="btn btn-primary" [disabled]="!relatorioForm.form.valid">Atualizar</button>&nbsp;
                </div>
            </div>
  </div>
    </div>
      
    </div>
</div>
